<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>{{ title }}</title>
</head>
<body>

{% include 'template_navi.html' %}
<h1>{{ title }}</h1>

  {% for (k, v) in data %}
  <h2 name="{{ k }}">{{ k }}</h2>
  {{ v | show_people }}
  {% endfor %}

<h4>フィードバック</h4>
<p>
<form action="http://nhiro.org:8001/api/" method="POST">
<textarea name="note" rows=5 style="width: 100%">
ここに自由にフィードバックをお書きください。
更新対象: {{ title }}
</textarea>
<button type="submit">submit</button>
</form>
</p>

</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69073468-1', 'auto');
  ga('send', 'pageview');
</script>
</html>
