<p><!--定型的プロフィール-->
<h1>{{ name }}</h1>

{% if photo %}
<img src='{{ photo }}'>
{% else %}
{% endif %}

{#
     <td bgcolor="#9bc2e6">ヨミガナ</td>
    <td> {{ yomi }} </td>

    <td width="350" bgcolor="#9bc2e6">社団内連絡先</td>
    <td>[MAIL]</td>

    <td bgcolor="#9bc2e6">種別</td>
    <td> {% for x in mitou_type %} {{ x }} {% endfor %} </td>

    <td bgcolor="#9bc2e6">所属研究会</td>
    <td>[SIG]</td>
#}

<p>
<h4>未踏採択</h4>
<ul>
{% for r in mitou_list %}
<li> {{ r.pretty_kubun }} テーマ:{{ r.theme }}
{% if r.members %}
共同開発者:
{{ r.members | show_people }}
{% endif %}

PM: {{ r.pm }}

{% if r.sc %}
スーパークリエイター認定
{% endif %}
{% endfor %}
</ul>
</p>


<p><!--定性的プロフィール-->
{{ note }}
</p>

<p>
  <h4>履歴書的経歴</h4>
<ul>
  {% for r in resume_list %}
  <li>
    {{ r.ref_id }}
    {{ r.where }}
    {{ r.when }}
    {% if r.who %}関連人物: {{ r.who | abbrev_people }}{% endif %}
    {% if r.note %}備考: {{ r.note | find_links }}{% endif %}
  </li>
  {% endfor %}
</ul>
</p>

<p>
  <h4>創造的活動歴</h4>
<ul>
  {% for r in activity_list %}
  <li>
    {{ r.ref_id }}
    {{ r.type }}: {{ r.title }}
    {{ r.when }}
    {% if r.who %}関連人物: {{ r.who | abbrev_people }}{% endif %}
    {% if r.note %}備考: {{ r.note | find_links }}{% endif %}
  </li>
  {% endfor %}
</ul>

<h4>フィードバック</h4>
<p>
未踏社団会員は直接編集できます: <a href="https://mitou.cybozu.com/k/92/show#record={{ record_id }}">edit on kintone</a>
</p>
<p>
非会員でも修正の提案をすることができます。
<form action="http://nhiro.org:8001/api/" method="POST">
<textarea name="note" rows=5 style="width: 100%">
ここに自由にフィードバックをお書きください。
更新対象: https://mitou.cybozu.com/k/92/show#record={{ record_id }}
</textarea>
<button type="submit">submit</button>
</form>
</p>
